<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.todo.mapper.RoleMapper">

    <resultMap id="BaseResultMap" type="com.example.todo.entity.RoleEntity">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="BaseColumns">
        id, name, create_time, update_time
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO role (name)
        VALUES (#{name})
    </insert>

    <update id="updateById">
        UPDATE role
        SET name = #{name}
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM role
        WHERE id = #{id}
    </delete>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumns"/>
        FROM role
        WHERE id = #{id}
    </select>

    <select id="selectByName" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumns"/>
        FROM role
        WHERE name = #{name}
    </select>
</mapper>